.patches-table {
    margin: 10px;
    border: 2px solid #efefef;
    border-spacing: 0;
}

.patches-table-header {
    background-color: #2a2a2a;
}

.patches-table-subheader {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.patches-job-table {
    width: 21rem;
}

.patches-th {
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
}

.patches-border-bottom {
    border-bottom: 2px solid #efefef;
}

.patches-border-left {
    border-left: 1px solid #efefef;
}

.patches-border-right {
    border-right: 1px solid #efefef;
}

.patches-subborder {
    border-bottom: 1px solid #595959;
    border-left: 1px solid #595959;
    border-right: 1px solid #595959;
}

.patches-subborder-bottom {
    border-bottom: 2px solid #595959;
}

.patches-btn {
    margin: 2px 5px;
    min-width: 5rem;
}
