.btn {
    background-color: #3f5b92;
    color: #ebebeb;
    padding: 5px;
    margin: 15px auto;
}

.btn-reset {
    color: #ebebeb;
    background-color: #FF0000;
    margin: 10px;
    padding: 10px 20px;
}

.ip-port {
    margin: 10px 5px;
}