.sidebar {
    width: 13rem;
    background-color: #1b1b1b;
    border-right: 1px solid #333;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 13px;
    color: #bbb;
    transition: all 0.15s ease;
}

.sidebar-menu-item {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 13px;
    color: #bbb;
    transition: all 0.15s ease;
    text-decoration: none;
}

@media (hover: hover) {
    .sidebar-menu-item:hover{
        filter: brightness(1.3);
        -webkit-filter: brightness(1.3);
        transition: all ease 0.3s;
        background-color: #272727;
    }
    .sidebar-active-item:hover{
        background-color: #363636;
        filter: brightness(1.3);
        -webkit-filter: brightness(1.3);
        transition: all ease 0.3s;
    }
}

.sidebar-active-item {
    background-color: #2a2a2a;
    color: #fff;
    font-weight: bold;
}
